.wrapper:has(.login-box){ /* .wrapper -> .wrapper:has(.login-box) bo inaczej napisuje ten glowny z App.css na calej stronie */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    padding: 1.5rem 1.3rem;
    background-color: var(--secondary-bg-color);
    border-radius: 5%;
    width: 280px;
    user-select: none;
}

.login-box h1{
    padding: 0 0 1.5rem 0;
    margin: 0;
    font-size: .9rem;
    text-align: center;
}

.login-box form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-box form .forgot-password{
    width: max-content;
    margin-left: auto;
    color: #fff;
    font-weight: 700;
    font-size: .8rem;
}

.login-box form button[type="submit"]{
    padding: 1rem;
    border-radius: .2rem;
    background-color: #06a58f;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
    transition: background-color .2s ease;
}

.login-box form button[type="submit"]:hover{
    background-color: #057767;
}

.login-box .signup-link{
    text-align: center;
    font-size: .9rem;
    margin: 1rem 0 0 0;
    font-weight: 600;
}

.login-box .signup-link a{
    color: #06a58f;
}