.customInput {
  background-color: var(--main-bg-input);
  border-radius: 0.5rem;
  border: 1px solid var(--main-bg-input);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  outline: none;
  color: #fff;
  box-sizing: border-box;
}

.customInput::placeholder {
  color: #fff;
}

.customInput:focus {
  border-color: var(--main-color);
}

.customInputError {
  border-color: var(--error-color);
}
