.input-wrapper{
    position: relative;
}

.input-wrapper input{
    background-color: #44444f;
    border-radius: .2rem;
    border: none;
    padding: 1rem;
    font-size: .85rem;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
}

.input-wrapper input:focus-visible{
    border: none;
    outline: none;
}

.input-wrapper svg.show-password{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding-right: .8rem;
}