
html {
    font-family: 'Open Sans', sans-serif;
    background-color: #2c2d37;
    color: white;
    --main-bg-color: #2c2d37;
    --secondary-bg-color: #3a3b46;
    --main-lighter: #9d9da7;
    --main-darker: #21222c;
    --main-font-color: #fff;
    --main-border: #6a6c76;
    --main-bg-input: #44444f;
}

:root{
    --toastify-color-light: #fff;
    --toastify-color-dark: #21222c;
    --toastify-color-info: #3498db;
    --toastify-color-success: #10b981;
    --toastify-color-warning: #facc15;
    --toastify-color-error: #ef4444;


    --toastify-toast-width: 280px;

}



body .popup-open {
    overflow: hidden;
    position:fixed;
    height: 100vh;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track styles */
::-webkit-scrollbar-track {
    background: #3a3b46;
}

/* Handle styles */
::-webkit-scrollbar-thumb {
    background: #555764;
}

/* Handle hover styles */
::-webkit-scrollbar-thumb:hover {
    background: #21222c;
}

hr{
    color: white;
}
.wrapper{
    margin: 3.5rem auto 0;
    width: 90%;
    padding: 2rem 0;
}
