.user-tasks{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-tasks .right-panel{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.user-tasks .left-panel{
    width: 15%;
    margin: 0 2rem;
    min-width: 150px;
}

@media screen and (max-width: 1100px) {

    .user-tasks .right-panel {
        width: 65%;
    }

    .user-tasks .left-panel {
        width: 25%;

    }
}

@media screen and (max-width: 768px) {
    .user-tasks {
        flex-direction: column;
    }

    .user-tasks .right-panel {
        width: 100%;
    }

    .user-tasks .left-panel {
        width: 100%;
        margin: 0;
    }
}


.user-tasks .right-panel .task-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-tasks .right-panel .task-list .unrated{
    color: var(--main-lighter);
    font-weight: 600;
    font-style: italic;

}

.user-tasks .right-panel .task-list .date{
    color: var(--main-lighter);
}

.user-tasks .left-panel .filter-panel .recent{
    color: #e5ce54;
}


.user-tasks .right-panel .task-list .rated{
    color: #40b0f3;
    font-weight: 600;
    font-style: italic;
}

.user-tasks .right-panel .task-list  li a{
    width: 100%;
    background-color: var(--secondary-bg-color);
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 7px;
    cursor:pointer;
    text-decoration: none;
    color: var(--main-font-color);
}

.user-tasks .right-panel .task-list  li p{
    flex: 1;
    display: flex;
    margin:0;
    padding: 5px 10px;

}

.user-tasks .right-panel .task-list  li p:last-child{
    flex: 0.25;
}


.user-tasks .right-panel .task-list  li strong{
    font-weight: 600;
}

.user-tasks .right-panel .task-list  li a{

}

.task-list p:last-child {
    margin-right: 0;
}

.user-tasks .right-panel .sort-panel{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-weight: 600;

}

.user-tasks .right-panel .sort-panel  li{
    flex: 1;
}

.user-tasks .right-panel .sort-panel  li:last-child {
    flex: 0.25;
}

.user-tasks .right-panel .task-list  li p .credits{
    background-color: #50515d;
    padding: 0.3rem 0.75rem;
    border-radius: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.full-name {
    display: none;

}

p:hover .full-name{
    display: inline-block;
    background-color: #6a6c76;
    border: 1px solid #777882;
    padding: 0.25rem 0.5rem;
    position: absolute;
    border-radius: 5px;
    margin-left: -5px;
    line-height: 1.4;
    max-width: 130px;
    margin-top: 30px;
    font-size: 0.8rem;

}



.user-tasks .right-panel .task-list  li p .credits.medium{
    background-color: #ecc52b;
}

.user-tasks .right-panel .task-list  li p .credits.high{
    background-color: #fd448e;
}


.user-tasks .right-panel .sort-panel li{
    display: flex;
    align-items: center;
}

.user-tasks .right-panel .sort-panel button{
    background: none;
    border: none;
    color: var(--main-font-color);
    font-size: 0.7rem;
    font-weight: 700;
    padding: 3px;
    border-radius: 7px;
    margin-left: 0.5rem;
    cursor: pointer;
}

.user-tasks .right-panel .sort-panel button:hover{
    background-color: var(--secondary-bg-color);
}


.user-tasks .left-panel ul{
    list-style: none;
    border: 1px solid var(--main-border);
    width: 100%;
    padding: 0;
    font-size: 0.9rem;
    border-radius: 10px;
}

.user-tasks .left-panel ul li button{
    background:none;
    border: none;
    border-bottom: 1px solid var(--main-border);
    width: 100%;
    color: var(--main-font-color);
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
}

.user-tasks .left-panel ul li:first-child button{
    border-radius: 10px 10px 0px 0px;
}

.user-tasks .left-panel ul li button.active{
    background-color: var(--secondary-bg-color);
}

.user-tasks .left-panel ul li:last-child button{
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

.user-tasks .left-panel ul li button span{

}